# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.qm

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# vim
*.swp
*~

# Clion
*.idea

build/
build_cmake/
build_test/
build_verification/
CMakeLists.txt.user
CMakePresets.json
.cache/

# Unit Test Build Artifacts (In-source)
tests/unit_tests/CMakeCache.txt
tests/unit_tests/CMakeFiles/
tests/unit_tests/cmake_install.cmake
tests/unit_tests/test_stateimport
tests/unit_tests/test_stateexport
tests/unit_tests/*_autogen/
tests/unit_tests/.qt/

# Unit Test Outputs
test_export.*

.DS_Store
